body{
    background-image: url("Untitled\ design.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
}
.heading{
    position: absolute;
    top: -102px;
    left: 0;
    right: 0;
    text-align: left;
    font-family: Garamond, serif;  
    font-size: 80px;
    font-weight: bolder;
    color:rgb(251, 255, 18); 
}
.line{
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
    width: 700px;
    margin: auto;
    text-align: center;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 25px;
    color: rgb(251, 255, 18);
}
a:hover{
    background-color:PIN;
    color:WHITE;
}
.quotes{
    position: absolute;
    top: 260px;
    left: 0;
    right: 0;
    text-align: center;
    font-family: Georgia, serif;
    font-size: 50px;
    font-style: italic;
    color: rgb(251, 255, 18); 
}
.header{
    position: fixed;
    top: 30px;
    right: 50px;
    font-family: Verdana, sans-serif; 
    font-size: 22px;
    color:rgb(251, 255, 18);
}
.header a {
    text-decoration: none;
    margin-left: 20px;
    padding: 10px 15px;
    background-color: rgb(251, 255, 18);
    color:rgb(158, 66, 16);
    font-size: 16px;
}
.img{
    position: relative;
    top: 450px;
    text-align: center;
}
.img img{
    width: 450px;
    height: 260px;
    margin: 20px;
    border-radius: 5px;
}
.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(29, 31, 3); 
    color: rgb(249, 233, 193); 
    text-align: center;
    font-family: Arial, sans-serif; 
    padding: 10px;
}
