body{
    background-image: url("Untitled\ design.png");
    background-size: cover;
    background-position: center;
    font-family: Georgia, serif;
}


.nav{
    position: absolute;
    top: 20px;
    right: 30px;
}

.nav a{
    text-decoration: none;
    margin-left: 20px;
    padding: 10px 15px;
    background-color: rgb(251, 255, 18);
    color:rgb(158, 66, 16);
    font-size: 16px;
}


.menu{
    position: absolute;
    top: 150px;
    text-align: left;
    left: 700px;
    font-size: 60px;
    color: rgb(251, 255, 18);
}


.container{
    position: relative;
    top: 260px;
    display: flex;
    justify-content: center;
    gap: 20px;
}


.list{
    background-color:rgb(251, 255, 18);
    padding: 15px;
    text-align: center;
    border-radius: 15px;
}

.list img{
    width: 120px;
    height: 100px;
    border-radius: 15px;
}
.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    left: -20px;
    background-color: rgb(29, 31, 3); 
    color: rgb(249, 233, 193); 
    text-align: center;
    font-family: Arial, sans-serif; 
    padding: 10px;
}